<div class="container">
  <div class="row">
    <div class="d-block mx-auto">
        <% @user.followers.each do |user| %>
        <%= user.nickname %>
        <button type="button" class="btn btn-info">
        <%= link_to '詳細', user_path(user) %>
        </button>
      <% end %>
    </div>
  </div>
</div>